<!DOCTYPE html><html lang="en"><head>
  <meta charset="utf-8">
  <title>DnDCharakterTool</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
<style>body{margin:0}</style><link rel="stylesheet" href="styles.eae72988cd519eb0.css" media="print" onload="this.media='all'"><noscript><link rel="stylesheet" href="styles.eae72988cd519eb0.css"></noscript></head>
<body>
  <app-root></app-root>

<script src="runtime.47826549b117f7be.js" type="module"></script><script src="polyfills.b5472972b22e14bd.js" type="module"></script><script src="main.4644b3d4570d5756.js" type="module"></script>

</body></html>